[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
pytest = "*"
pytest-recording = "*"
mock = "*"
pdoc3 = "*"
interrogate = "*"
mypy = "*"

[packages]
requests = "*"
bs4 = "*"
sendgrid = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
