interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://ezakupy.tesco.pl/groceries/pl-PL/login
  response:
    body:
      string: "<!DOCTYPE html>\n<html class=\"no-js\" lang=\"pl\" data-base-static-url=\"\
        /groceries/web-assets\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta\
        \ http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta http-equiv=\"\
        content-language\" content=\"pl-PL\">\n      <meta name=\"google-site-verification\"\
        \ content=\"TL-3qHx_cQc_rPXB1-Go5DKxDx6aIZN6_6IOAExo_AY\">\n      <meta name=\"\
        msvalidate.01\" content=\"63EE9D582CFC98E62C309F0B7B778090\">\n      <meta\
        \ name=\"yandex-verification\" content=\"a4b6f0df917e1f8d\">\n      <script\
        \ type=\"application/json\" id=\"appdynamics-values\">{\"eumKey\":\"AD-AAB-AAE-NSN\"\
        ,\"userPageName\":\"28_Lego\"}</script>\n      <script type=\"text/javascript\"\
        \ nonce=\"013c15e5-a3f6-4fb5-af0f-a69366365441\">\n  window[\"adrum-start-time\"\
        ] = new Date().getTime();\n      (function(config) {\n        const appDValues\
        \ = JSON.parse(document.getElementById(\"appdynamics-values\").innerText);\n\
        \        config.spa = {\"spa2\": true}\n        config.xd = {enable : false}\n\
        \        config.appKey = appDValues.eumKey\n        config.adrumExtUrlHttps\
        \ = \"https://cdn.appdynamics.com\";\n        config.beaconUrlHttps = \"https://col.eum-appdynamics.com\"\
        ;\n        (function(info) {\n          info.PageView = info.VPageView = {\
        \ userData: {}, userPageName: appDValues.userPageName };\n        })(config.userEventInfo\
        \ || (config.userEventInfo = {}));\n      })(window[\"adrum-c[...]
- request:
    body: onSuccessUrl=&_csrf=wvu6ubXy-85KBquOoy3uZXzMyjv-1FIhWVXo
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ezakupy.tesco.pl/groceries/pl-PL/login
  response:
    body:
      string: Found. Redirecting to https://ezakupy.tesco.pl/groceries/pl-PL/
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      DC:
      - aws3
      Location:
      - https://ezakupy.tesco.pl/groceries/pl-PL/
      Surrogate-Control:
      - no-store
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: null
    headers:
    method: GET
    uri: https://ezakupy.tesco.pl/groceries/pl-PL/
  response:
    body:
      string: "<!DOCTYPE html>\n<html class=\"no-js\" lang=\"pl\" data-base-static-url=\"\
        /groceries/web-assets\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta\
        \ http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta http-equiv=\"\
        content-language\" content=\"pl-PL\">\n      <meta name=\"google-site-verification\"\
        \ cont[...]
- request:
    body: null
    headers:
      Adrum:
      - isAjax:true
      Content-Type:
      - application/json
      X-Requested-With:
      - XMLHttpRequest
    method: GET
    uri: https://ezakupy.tesco.pl/groceries/pl-PL/slots/delivery/2020-03-29?slotGroup=2
  response:
    body:
      string: "{\n  \"resources\": {\n    \"trolleyContents\": {\n      \"type\":\
        \ \"trolleyContents\",\n      \"data\": {\n        \"basketId\": \"12148707\"\
        ,\n        \"storeId\": \"31001\",\n        \"orderNo\": null,\n        \"\
        guidePrice\": 0,\n        \"totalPrice\": 0,\n        \"savings\": 0,\n  \
        \      \"staffDiscount\": null,\n        \"totalItems\": null,\n        \"\
        constraints\": null,\n        \"issues\": {\n          \"exceptions\": []\n\
        \        },\n        \"shoppingMethod\": \"delivery\",\n        \"isAmendBasket\"\
        : false,\n        \"IsBagless\": true,\n        \"amendExpiry\": null,\n \
        \       \"amendOrderId\": null,\n        \"canExtendSlot\": null,\n      \
        \  \"deliveryAddress\": {\n          \"name\": \"Dom\",\n          \"addressId\"\
        : \"20111776\",\n          \"addressLine1\": \"Dmowskiego Romana 19B/30,\"\
        ,\n          \"isBusinessAddress\": false,\n          \"isBlockedAddress\"\
        : false\n        },\n        \"collectionLocation\": null,\n        \"deliveryPreferences\"\
        : {\n          \"deliveryInstruction\": \"\",\n          \"isBagless\": true,\n\
        \          \"mobilePhone\": null,\n          \"dayPhone\": null,\n       \
        \   \"eveningPhone\": null\n        },\n        \"customerPreferences\": null,\n\
        \        \"slot\": null,\n        \"previousSlot\": null,\n        \"coupons\"\
        : [],\n        \"clubcardPoints\": null,\n        \"charges\": {\n       \
        \   \"surcharge\": 0,\n          \"minimumBasketValue\": 0,\n          \"\
        bagCharge\": 2\n        },\n        \"subscription\": null,\n        \"promotions\"\
        : null,\n        \"availableShoppingMethods\": [\n          \"delivery\",\n\
        \          \"collection\"\n        ],\n        \"items\": []\n      },\n \
        \     \"params\": {},\n      \"hash\": \"5591176659614121\"\n    },\n    \"\
        slotGroup\": {\n      \"type\": \"slotGroup\",\n      \"data\": {\n      \
        \  \"deliverySlotGroups\": [\n          2\n        ]\n      },\n      \"params\"\
        : {},\n      \"hash\": \"6685042701469245\"\n    },\n    \"slot\": {\n   \
        \   \"type\": \"slot\",\n      \"data\": {\n        \"deliverySlotGroups\"\
        : [\n          2\n        ],\n        \"basket\": {\n          \"deliveryPreferences\"\
        : {\n            \"deliveryInstruction\": \"\"\n          }\n        },\n\
        \        \"delivery\": [\n          {\n            \"slotId\": \"2020-03-29T08:00:00+02:00#2020-03-29T10:00:00+02:00\"\
        ,\n            \"start\": \"2020-03-29T06:00:00.000Z\",\n            \"end\"\
        : \"2020-03-29T08:00:00.000Z\",\n            \"status\": \"Available\"\n\
        \          },\n          {\n            \"slotId\": \"2020-03-29T09:00:00+02:00#2020-03-29T11:00:00+02:00\"\
        ,\n            \"start\": \"2020-03-29T07:00:00.000Z\",\n            \"end\"\
        : \"2020-03-29T09:00:00.000Z\",\n            \"status\": \"Available\"\n\
        \          },\n          {\n            \"slotId\": \"2020-03-29T10:00:0[...]
[...]
